<h2>Logga in / registrera</h2>

<form action="/auth" method="post">
  <input type="text" name="username" placeholder="username" />
  <br />
  <input type="password" name="password" placeholder="password" />
  <br />
  <input
    type="password"
    name="confirm-password"
    placeholder="Confirm password"
  />
  <br />
  <input type="submit" value="Registrera" class="btn" />
</form>